html,body{
  height: 100svh;
  margin: 0;
  padding: 0;
  position: relative;
}

body{
  background-color: black, 0.5;
  background-image: url('../images/background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#MosBurger{
  font-family: koulen;
  font-size: 4rem;
  color: #EAA000;
}

#MOSpart{
  color: #D32500;
}

#h2Welcome{
  font-family: afacad;
  font-size: 2.5rem;
}

#p{
  font-family: afacad;
  font-size: 1.3rem;
}

#lbl{
  font-family: afacad;
}

#btnSignin{
  background: #09AA29;
}

#btnSignin:hover{
  background: #04811d;
}

.sign-up-link {
  color: #09AA29;
  text-decoration: none;
  font-weight: bold;
}

